:root{
    --Main-red: #E70108;
    --dark-red: #aa0006;
    --Main-White: #F5F7F8;
    --black-color: #111111;
}
// #headContainer{
//     margin-bottom: 70px;
// }
.BodyOC{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h1{
        margin-top: 70px;
    }
}
.main{
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: var(--dark-red);
    max-height: 420px;
    overflow: hidden;
    border-radius: 12px;
    box-shadow: 7px 7px 10px 3px #24004628;
}
.form{
    display: flex;
    flex-direction: column;
    gap: 14px;
    padding: 24px;
    
    label{
        color: #fff;
        font-size: 2rem;
        justify-content: center;
        display: flex;
        font-weight: bold;
        cursor: pointer;
        transition: .5s ease-in-out;
    }
    button {
        width: 85%;
        height: 40px;
        margin: 12px auto 10%;
        color: #fff;
        background: var(--Main-red);
        font-size: 1rem;
        font-weight: bold;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: .2s ease-in;
    }
    button:hover{
        background-color: #e0dede;
        color: var(--Main-red);
    }
}
/*el checkbox es utilizado como switch*/
#chk{
    display: none;
}
.login{
    position: relative;
    width: 100%;
    height: 100%;
}
.login label{
    margin: 15% 0 5%;
}
.input{
    width: 100%;
    height: 40px;
    background: #e0dede;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 4px;
}
.register{
    background: #eee;
    border-radius: 60% / 10%;
    transform: translateY(5%);
    transition: .8s ease-in-out;
}

.register label{
    color: var(--Main-red);
    transform: scale(.6);
}
#chk:checked ~ .register{
    transform: translateY(-60%);
}
#chk:checked ~ .register label{
    transform: scale(1);
    margin: 10% 0 5%;
}
#chk:checked ~ .login label{
    transform: scale(.6);
    margin: 5% 0 5%;
}
